body {
    --sd-color-shadow: white;
}

.wy-nav-side {
    background: #f0f0f0;
}

.wy-side-nav-search {
    background-color: #ffffff;
}

.wy-side-nav-search .logo img {
    background-color: transparent;
}

.wy-menu-vertical a {
    color: #000000;   /* dark gray or your preferred color */
}

/* Sidebar link hover color */
.wy-menu-vertical a:hover {
    color: #f0f0f0;   /* red on hover */
}

/* Active/selected link color */
.wy-menu-vertical li.current > a,
.wy-menu-vertical li.toctree-l1.current > a {
    color: #ffffff;          /* white text */
    background-color: #000000;  /* dark background */
}

.icon.icon-home,
.icon.icon-home .logo {
    color: #000000; /* Black color */
}
