body {
    --sd-color-shadow: dimgrey;
}

.wy-nav-side {
    background: #f0f0f0;
}

.wy-side-nav-search {
    background-color: #f0f0f0;
}

/* Optional: tweak the logo itself if needed */
.wy-side-nav-search .logo img {
    background-color: transparent;
}

.bd-sidebar .caption-text {
    color: #1f77b4;
    font-weight: 600;
    text-transform: uppercase;
}

