matplotlib==3.10.6
numba==0.61.2
numpy==2.3.3
pandas==2.3.2
pynndescent==0.5.13
scanpy==1.11.4
scikit_learn==1.7.2
scipy==1.16.1
seaborn==0.13.2
setuptools==80.9.0
sparse==0.17.0
statsmodels==0.14.5
tensorly==0.9.0
threadpoolctl==3.6.0
torch==2.8.0
tqdm==4.67.1
visionpy==0.0.4
